body {
  background-color: #A59C76;
  /*background-image: url(/Users/jeffmccord/codefellows/201/cookie-stand/pizza-2344399_1920.jpg);*/
}
.background {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
#sales {
  border-collapse: collapse;
  border: 1px solid #4F3C2B;
}

table td, th {
  background-color: #DFDEB3;
  border: 1px solid #4F3C2B;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  position: relative;
  top: 50px;
  text-align: center;
}

p {
  font-family: Georgia;
  color: black;
  position: relative;
  top: 100px;
  text-align: center;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #4F3C2B;
  opacity: 75%;
  text-align: center;

}

a:link {
  color: #E5E7BF;
}

a:visited {
  color: #E5E7BF;
}
